{% if revisions|length > 0 or not shouldRenderTimeline %}
  {% spaceless %}
    <form id="revisionsForm" method="{% block formMethod %}GET{% endblock %}">
      {% block hiddenFields %}
        <div id="hiddenFields">
          {% for key, value in hiddenFields %}
            {% if value|keys|length > 0 %}
              {% for arrValue in value %}
                <input type="hidden" name="{{ key }}[]" value="{{ arrValue }}" />
              {% endfor %}
            {% else %}
              <input type="hidden" name="{{ key }}" value="{{ value }}" />
            {% endif %}
          {% endfor %}
        </div>
      {% endblock %}
      {% block revisionTimeline %}
      {% endblock %}
      {% block actionButton %}
      {% endblock %}
      {% if shouldRenderRevisionData %}
        <div id="formExtras">
          {% block formExtras %}
          {% endblock %}
        </div>
      {% endif %}
    </form>
  {% endspaceless %}
{% endif %}

{% macro renderErrorColumns(num) %}
  {% for i in 1..num %}
    <td class="error">{{ _self.renderError() }}</td>
  {% endfor %}
{% endmacro %}

{% macro renderError() %}An unexpected error occured.{% endmacro %}