{% extends 'baseTable.twig' %}
{% import 'baseTable.twig' as baseTable %}

{% block actionButton %}
  <button id="compareRevisions">Compare Selected Revisions</button>
{% endblock %}

{% block headers %}
  <th>Revision Number</th>
  <th></th>
  <th></th>
  <th>Created On</th>
  <th>Created By</th>
  <th>Message</th>
  <th>Modified Columns</th>
  <th></th>
{% endblock %}

{% block rows %}
  <td><a href="{{ revisionUrl }}{{ revision.revisionNumber }}" class="revision" data-revisionNumber="{{ revision.revisionNumber }}">{{ revision.revisionNumber }}</a></td>
  {% if revision.error %}
    <td></td>
    <td></td>
    {{ baseTable.renderErrorColumns(5) }}
  {% else %}
    <td><input id="oldNum-{{ revision.revisionNumber }}" type="radio" class="compare" value="{{ revision.revisionNumber }}" /></td>
    <td><input id="newNum-{{ revision.revisionNumber }}" type="radio" class="compareAgainst" value="{{ revision.revisionNumber }}" /></td>
    <td>{{ revision.revisionDate|date("F jS \\a\\t g:ia") }}</td>
    <td>{{ revision.createdBy }}</td>
    <td>{{ revision.message }}</td>
    <td>{{ revision.modifiedColumns|join(', ') }}</td>
    <td><a href="{{ revisionUrl }}{{ revision.revisionNumber }}&amp;rollback=true" id="rollback-{{ revision.revisionNumber }}" class="rollback button" data-revisionNumber="{{ revision.revisionNumber }}">Rollback</a></td>
  {% endif %}
{% endblock %}