{% extends 'baseTable.twig' %}
{% import 'baseTable.twig' as baseTable %}

{% block headers %}
  <th>Revision Number</th>
  <th>Created On</th>
  <th>Created By</th>
  <th>Message</th>
  <th>Modified Columns</th>
{% endblock %}

{% block rows %}
  <td>{{ revision.revisionNumber }}</td>
  {% if revision.error %}
    {{ baseTable.renderErrorColumns(4) }}
  {% else %}
    <td>{{ revision.revisionDate|date("F jS \\a\\t g:ia") }}</td>
    <td>{{ revision.createdBy }}</td>
    <td>{{ revision.message }}</td>
    <td>{{ revision.modifiedColumns|join(', ') }}</td>
  {% endif %}
{% endblock %}