{% macro revisions(revisions) %}
{% if revisions|length > 0 %}
<table class="fancy">
  <thead>
    <tr>
      <th>Field</th>
      <th>Old Text</th>
      <th>New Text</th>
    </tr>
  </thead>
  <tbody>
{% for key in revisions.revisionData|keys %}{% if revisions.revisionData[key] != null %}{% set revisionData = revisions.revisionData[key] %} {{ _self.revisionData(key, revisionData.revisionContent, revisionData.currentContent, revisionData.error) }}{% endif %}{% endfor %}</tbody>
</table>{% endif %}
{% endmacro %}
{% macro revisionData(column, oldContent, newContent, error) %}{% if error %}<tr>Error</tr>
  {% else %}
  <tr>
    <td>{{ column }}</td>
    <td>{{ oldContent }}</td>
    <td>{{ newContent }}</td>
  </tr>
  {% endif %}
{% endmacro %}
{{ _self.revisions(revisions) }}