{% extends 'revisionData.twig' %}
{% import 'base.twig' as base %}
{% import 'revisionData.twig' as revisionDataTwig %}

{% block revisionData %}
  {% set column %}
    {% for key in revision.revisionData|keys %}
      {% if revision.revisionData[key] != null %}
        {% set revisionData = revision.revisionData[key] %}
        <dt{% if revisionData.error %} class="error"{% endif %}>{{ key }}</dt>
        <dd>
          {%- if revisionData.error -%}
            {{- base.renderError() -}}
          {%- else -%}
            {{- revisionData.makeRevisionContent(true)|raw -}}
          {%- endif -%}
        </dd>
        <dd>
          {%- if revisionData.error -%}
            {{- base.renderError() -}}
          {%- else -%}
            {{- revisionData.makeRevisionContent(true)|raw -}}
          {%- endif -%}
        </dd>
      {% endif %}
    {% endfor %}
  {% endset %}
  <section class="clearfix revisionData comparison">
    <div class="clearfix headers">
      {{ revisionDataTwig.renderHeader(revisions[visibleRevisions[0]]) }}
      {{ revisionDataTwig.renderHeader(revisions[visibleRevisions[1]]) }}
    </div>
    <dl class="clearfix">
      {{ column }}
    </dl>
    {{ revisionDataTwig.renderRestoreButton(revisions|length, visibleRevisions[0]) }}
    {{ revisionDataTwig.renderRestoreButton(revisions|length, visibleRevisions[1]) }}
  </section>
{% endblock revisionData %}