{% extends 'revisionData.twig' %}

{% block headers %}
  <th>Field</th>
  <th>Old Text</th>
  <th>Diff</th>
  <th>New Text</th>
{% endblock %}

{% block rows %}
  <td>{{ key }}</td>
  {% if revisionData.error %}
    {{ _self.renderErrorColumns(3) }}
  {% else %}
    <td>{{ revisionData.revisionContent }}</td>
    <td>{{ revisionData.makeRevisionContent(true)|raw }}</td>
    <td>{{ revisionData.currentContent }}</td>
  {% endif %}
{% endblock %}